.tags button {
  border: none;
  color: black;
  padding: 0.3em 0.6em;
  text-align: center;
  font-size: 1em;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: var(--yes-no-border-radius);
  margin: 0 4px;
  background-color: #ebc474;
}

.table-admin td:last-child button {
  border: none;
  color: whitesmoke;
  padding: 0.5em 1em;
  text-align: center;
  font-size: 1em;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: var(--yes-no-border-radius);
}

td:last-child button.yes {
  background-color: #16A085;
}

td:last-child button.no {
  background-color: tomato;
}

td:last-child button.yes:hover {
  color: white;
  background-color: #128471;
}

td:last-child button.no:hover {
  color: white;
  background-color: rgb(231, 82, 56);
}

.select-box{
  font-size: 1.2em;
}

.link-to-probl:hover{
  font-weight: bold;
  color: rgb(166, 0, 255);
}

.link-to-probl:active{
  text-decoration: underline;
}