.tags button {
  border: none;
  color: black;
  padding: 0.3em 0.6em;
  text-align: center;
  font-size: 1em;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: var(--yes-no-border-radius);
  margin: 0 4px;
  background-color: #ebc474;
}

main {
  display: flex;
  flex-direction: column;
}

.table-admin td:last-child button {
  border: none;
  color: whitesmoke;
  padding: 0.5em 1em;
  text-align: center;
  font-size: 1em;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: var(--yes-no-border-radius);
}

td:first-child::before, td:nth-child(4)::before{
  content: "#";
}

td:last-child button.yes {
  background-color: #16A085;
}

td:last-child button.no {
  background-color: tomato;
}

td:last-child button.yes:hover {
  color: white;
  background-color: #128471;
}

td:last-child button.no:hover {
  color: white;
  background-color: rgb(231, 82, 56);
}

.select-box {
  font-size: 1.2em;
  padding-top: 0;
}

.link:hover {
  font-weight: bold;
  color: rgb(166, 0, 255);
}

.link:active {
  text-decoration: underline;
}

@media (max-width: 500px) {
  .table-admin .tags {
    display: none;
  }
}

.top-area-admin{
  display: flex;
  justify-content: space-between;
}

.top-area-admin button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 1em 1.4em;
  border-radius: var(--yes-no-border-radius);
  cursor: pointer;
  transition: 0.1s;
}

.top-area-admin button:hover {
  background-color: #3AAFA9;
}

.hidden {
  display: none;
}

.popUp {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #04AA6D;
  padding: 1.2em;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.45);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popUp input[type=email] {
  width: 100%;
  padding: 1em;
  border: 4px solid var(--main-bar-color);
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 0.4em;
  margin-bottom: 1.1em;
  outline: none;
  display: flex;
  justify-content: center;
}

.popUp input[type=email]:focus {
  transition: 0.5s;
  transition-property: border;
  border-color: #195c70;
}

.popUp input[type=submit] {
  align-self: center;
  width: 30%;
  background-color: var(--accent-color);
  border: none;
  color: white;
  padding: 1em 1.4em;
  border-radius: var(--yes-no-border-radius);
  cursor: pointer;
  transition: 0.1s;
}

.popUp input[type=submit]:hover {
  background-color: #195c70;
}

.popUp input[type=submit]:active {
  transform: scale(0.9);
}

.popUp .close-popup {
  align-self: flex-end;
  font-size: 1.5rem;
  color: #fff;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.popUp select {
  margin-left: 0;
  font-size: 1rem;
  margin-bottom: 1rem;
}


.nothing{
  font-size: 1.2em;
  width: 100%;
  text-align: center;
  padding-top: 5em;
}


@media (max-width: 800px) {
  .popUp input[type=submit] {
    width: 70%;
  }
}

@media (max-width: 400px) {
  .popUp input[type=submit] {
    width: 90%;
  }

}