* {
  padding: 0;
  margin: 0;
}

main {
  padding: 1.2em;
  margin: 0px 50px 0px 50px;
}

.select-box {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 1em 0;
}

select {
  margin-left: 0.8em;
  cursor: pointer;
  border: none;
}

table tr th,
td {
  padding: 0.5em;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination li {
  list-style: none;
  padding: 2px;
  margin: 10px 5px;
  border-radius: 5px;
  border: 1px solid #b3b2b2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination li a {
  text-decoration: none;
  padding: 2px 8px;
}

@media (max-width: 700px) {
	main{
    margin:0;
  }
}

@media (max-width: 500px) {
	body{
    font-size: 0.9em;
  }
  main{
    padding:2px;
  }
}

@media (max-width: 400px) {
	body{
    font-size: 0.8em;
  }
}