:root {
	--sidebar-color: #195c70;
	--border-rad: 20px;
	--text-color-sidebar: #c1bbda;
	--all-color: rgb(70, 22, 125);
	--easy-color: #39FF14;
	--medium-color: rgb(218, 169, 10);
	--hard-color: #f45454;
	--stats-bg-color: rgba(65, 74, 103, 0.353);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--background);
}

.main-box-profile {
	margin: 10px 50px 10px 50px;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.main-box-profile .sidebar {
	flex: 1;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	align-self: flex-start;
	background: var(--sidebar-color);
	border-radius: var(--border-rad);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.45);
}

.sidebar h1, .sidebar h2 {
	color: #fff;
	text-align: center;
}

.sidebar h1{
    padding: 0.4em;
}

.sidebar h2 {
	padding: 0.5em;
}

.sidebar .full-name{
	display: flex;
	color: #fff;
	padding: 0.5em;
	justify-content: center;
	gap: 0.5em;
}

.sidebar .top-txt {
	margin-bottom: 0.5em;
}

.sidebar ul {
	list-style-type: none;
}

.main-box-profile .main-content {
	margin-top: 0;
	background-color: var(--accent-color);
	flex: 2.5;
	padding: 1.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--border-rad);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.45);
}

.sidebar .up {
	padding: 2em;
}

.sidebar .up img.circle {
	width: 10em;
	height: 10em;
	display: block;
	margin: auto;
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 0.4em;
}

#statistici {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1em;
	font-size: 1em;
}

#statistici .item {
	background-color: var(--stats-bg-color);
	border-radius: var(--border-rad);
	width: 250px;
	height: 250px;
}

.item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}

.progress-bar {
	position: relative;
}

.text {
	display: flex;
	align-items: center;
	position: absolute;
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 700;
	letter-spacing: 0.1em;
}

.text span {
	font-size: 1.1rem;
}

.progress-bar svg {
	width: 160px;
	height: 160px;
}

.progress-bar svg circle {
	fill: none;
	stroke-width: 18px;
	stroke-dasharray: 369;
	stroke-linecap: round;
}

#all-svg {
	stroke: var(--all-color);
}

#easy-svg {
	stroke: var(--easy-color);
}

#medium-svg {
	stroke: var(--medium-color);
}

#hard-svg {
	stroke: var(--hard-color);
}

#all h3,
#all>span:last-child {
	color: var(--all-color);
}

#easy h3,
#easy>span:last-child {
	color: var(--easy-color);
}

#medium h3,
#medium>span:last-child {
	color: var(--medium-color);
}

#hard h3,
#hard>span:last-child {
	color: var(--hard-color);

}

@media (max-width: 900px) {

	.main-box-profile .sidebar,
	.main-box-profile .main-content {
		flex: 100%;
	}

	.main-box-profile .sidebar {
		position: static;
	}
}

@media (max-width: 700px) {
	#statistici {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 400px) {
	#statistici .item {
		width: 175px;
	}

	.main-box-profile{
		margin-left: 0;
		margin-right: 0;
	}

	.main-box-profile .main-content {
		padding-left: 0;
		padding-right: 0;
	}
}