:root {
    --main-bg-color: rgb(143, 188, 143);
}

/*Remove the padding and the margin of every html element*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
}

/*remove any kind of decorations for the links*/
a {
    text-decoration: none;
}

/* remove the dots of a list*/
li {
    list-style: none;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--main-bg-color);
    color: #fff;
}

.nav-links a {
    color: #fff;
}

.logo {
    font-size: 32px;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px
}

.courses {
    position: relative;
}

.dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute;
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li+li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}
.search-bar
{
    width: 40em;
    line-height:3em;
    border-radius: 15px;
    border: none;
}
.search-bar::placeholder
{
    padding-left: 5px;
}
.dropdown li:hover {
    background-color: #4c9e9e;
}

.courses:hover .dropdown {
    display: block;
    right: 0;
}
.languages
{
    position: relative; 
}
.languages:hover .dropdown
{
    display: block;
    right: 0;
}
.menu-icon-phones
{
    display: none;
}
.language-display
{
    width: 2em;
    margin: 0;
    padding-top: 5px;
    object-fit:fill;
    object-position: center;
  
}
.language-list
{
    width: 2em;
    margin: 0;
    padding-top: 5px;
    object-fit:fill;
    object-position: center;
}

.image-logo
{
    width: 168px;
    height: 44px;
    object-fit: cover;
}

@media (max-width: 1400px)
{
    .search-bar
{
    width: 25em;
    line-height:3em;
    border-radius: 15px;
    border: none;
}
}

@media (max-width: 1200px)
{
    .search-bar
{
    width: 20em;
    line-height:3em;
    border-radius: 15px;
    border: none;
}
}

@media (max-width: 1250px) {
    
    .search-bar
    {
        width: 40em;
        line-height:3em;
        border-radius: 15px;
        border: none;
    }
    .menu {

        display: none;
        position: absolute;
        background-color: teal;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;

    }

    .menu li:hover {
        display: inline-block;
        background-color: #4c9e9e;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .menu-icon-phones {
        display: block;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
        transform: translateY(-10px);
        z-index: 10;
    }

    .dropdown li:hover {
        background-color: #4c9e9e;
    }
    .courses:hover .dropdown {
        display: block;
        float: none;
        width: 150px;

    }
    .languages:hover .dropdown
    {
        display: block;
        float: none;
        width: 150px;
        
    }
}

@media (max-width: 800px) 
{
    .search-bar
    {
        width: 25em;
        line-height:3em;
        border-radius: 15px;
        border: none;
    }
}
@media (max-width: 600px) 
{
    .search-bar
    {
        width: 20em;
        line-height:3em;
        border-radius: 15px;
        border: none;
    }
}
@media (max-width: 500px) 
{
    .search-bar
    {
        width: 15em;
        line-height:3em;
        border-radius: 15px;
        border: none;
    }
}