:root{
    --main-bg-color: rgb(143,188,143);
}
body, html
{
    background-color: var(--main-bg-color);
   
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

.container
{
    margin-top: 10px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.left-side-topbar
{
    
    margin:   0;
    width: 150px;
    height: 150px;
    object-fit:scale-down;
    object-position: middle;
    vertical-align: middle;
   
}

.middle-side-topbar
{
    width: 70%;
    display: flex;
}
.search-bar
{
    margin-left: 20px;
    margin:0;
    padding: 20px;
    width: 90%;
    height: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}
.search-bar::placeholder
{
    vertical-align: bottom;
    text-align: left;
     line-height:30px;
    font-size: 20px;

}
.search-button
{
    cursor: pointer;
    font-size: 20px;
    width: 10%;

    border:none;
    margin-left: -1px;
    vertical-align: bottom;
    background-color: rgb(185, 74, 74);
    width: fit-content;
}
.right-side-topbar
{
    display: flex;
    width: 15%;
    gap:2px;
   


}
.profile
{
    display: grid;
    grid-template-columns: 40px 120px 1fr;
    justify-content: center;
    align-content: center;

}
.signIn
{
    border: none;
    background-color: var(--main-bg-color);
    font-size: 18px;
    color: gray;
    cursor: pointer;
}
.dropdown
{

  padding-top: 5px;
  vertical-align: middle;
  font-size: 18px;
  color: rgb(97, 85, 85);

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 3px 4px;
    z-index: 1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }