:root {
    --main-bar-color: #3AAFA9;
    --accent-color: #2B7A78;
    --text-color:#fff;
    --text-hover:#4F4A41;
    --background:#DEF2F1;
    --drop-down:#2B7A78;
    
}

.filter-serach-bar {
    line-height: 3em;
    border: none;
    border-radius: 6px;
    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.1);
}

.filter-serach-bar:focus {
    outline-offset: 2px;
    outline-color: gray;
}

.filter-difficulty-button,
.filter-tags-button,
.filter-status-button {
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, border 0.05s;
}

.filter-difficulty-button:hover,
.filter-tags-button:hover,
.filter-status-button:hover {
    background-color: #FFF5EE;
}

.filter-difficulty-button:active,
.filter-tags-button:active,
.filter-status-button:active {
    border: solid;
    border-color: var(--accent-color);
}

.filter-serach-bar::placeholder {
    text-align: center;
}

.filter-system {
    display: grid;
    gap: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 25px;
    grid-template-columns: 70fr 10fr 10fr 10fr;
}

.problems-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  background-color: #195c70;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  margin: 20px 5px 0;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.problems-header-content {
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}
.problems
{
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
.problem {
    display: grid;
    
    grid-template-columns: 25fr 25fr 25fr 25fr;
    color: var(--text-color);
    margin-bottom: 5px;
    cursor: pointer;
}
.problem:hover
{
    color:black;
    transform: translatex(2px);
    transform:translateY(2px);
}


.problem-main {
    font-size: 18px;
    text-align: center;
    border: solid;
    border-left: none;
    border-right: none;
    border-color: var(--main-bar-color);
}

.problem-main-end {
    font-size: 18px;
    text-align: center;
    border: solid;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
    border-color: var(--main-bar-color);
}

.problem-main-start {
    font-size: 18px;
    border-right: none;
    text-align: center;
    border: solid;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: var(--main-bar-color);
}

.main-content {
    background-color: var(--accent-color);
    margin-top: 4em;
    padding: 5px;
    border-radius: 5px;

}

.filler {
    background-color: var(--background);
    text-align: center;
    margin: 0;
    padding: 0;
}

.content-container {

    display: grid;
    grid-template-columns: 10fr 80fr 10fr;
    gap: 0px;
    min-height: 100vh;

}
@media (max-width: 800px)
{
    .content-container
    {
        grid-template-columns: 100fr;
    }
    .filler {
        text-align: center;
        margin: 0;
        padding: 0;
        display: none;
    } 
}