:root{
	--sidebar-color: #256328;
	--sidebar-hover-color: #308c34d7;
	--body-bg-color: #3fb745d7;
	--border-rad: 20px;
	--text-color-sidebar: #bdb8d7;
	--neon-green: #39FF14;
	--stats-bg-color:rgba(80, 78, 78, 0.353);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: var(--body-bg-color);
}


.main-box-profile {
	margin: 3px 50px 0 50px;
	display: flex;
	flex-wrap: wrap;
	border-radius: var(--border-rad);
}

.main-box-profile .sidebar {
	flex: 1;
	position: -webkit-sticky; /* for Safari */
	position: sticky;
	top: 0;
	align-self: flex-start;
	background: var(--sidebar-color);
	border-bottom-left-radius: var(--border-rad);
	border-top-left-radius: var(--border-rad);
}

.sidebar h2 {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding: 0.1em;
}
.sidebar h3 {
	color: #fff;
	text-align: center;
	padding: 0.1em;
}

.sidebar ul {
	list-style-type: none;
}

.sidebar ul li {
	padding: 0.8em;
}

.sidebar ul li:last-child {
	border-radius: 0 0 0 var(--border-rad);
}

.sidebar ul li a {
	text-decoration: none;
	color: var(--text-color-sidebar);
	font-size: 1.2em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile-item{
	margin-left: 0.3em;
}

.sidebar ul.profile-options li:hover {
	background-color: var(--sidebar-hover-color);
}

.sidebar ul li:hover a {
	color: #fff;
}

.main-box-profile .main-content {
	background-color: var(--sidebar-hover-color);
	flex: 2.5;
	padding: 1.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0 var(--border-rad) var(--border-rad) 0;
}

.sidebar .up {
	padding: 1em;
}

.sidebar .up img.circle {
	width: 10em;
	height: 10em;
	display: block;
	margin: auto;
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 0.4em;
}

#statistici{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1em;
}

#statistici .item{
	background-color: var(--stats-bg-color);
	border-radius: var(--border-rad);
	width: 250px;
	height: 250px;
}

@media (max-width: 900px) {

	.main-box-profile .sidebar,
	.main-box-profile .main-content {
		flex: 100%;
	}

	.main-box-profile .sidebar{
		border-radius: var(--border-rad) var(--border-rad) 0 0;
		position: static;
	}
	.main-box-profile .main-content{
		border-radius: 0 0 var(--border-rad) var(--border-rad);
	}
}

@media (max-width: 700px) {
	#statistici {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 400px) {
	#statistici .item{
		width: 165px;
	}
	.main-box-profile .main-content {
		padding-left: 0;
		padding-right: 0;
	}
}

#easy {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.progress-bar{
	position: relative;
}

.text{
	display: flex;
	align-items: center;
	position: absolute;
	color:white;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 700;
	letter-spacing: 0.1em;
}

.text span{
	font-size: 1.1rem;
}

.progress-bar svg{
	width: 160px;
	height: 160px;
}

.progress-bar svg circle{
	fill: none;
	stroke-width: 18px;
	stroke: var(--neon-green);
	stroke-dasharray: 369;
	stroke-linecap: round;
}

#easy h3{
	text-transform: uppercase;
	color: var(--neon-green);
}