td:last-child button.add_button,
.table-admin td:nth-last-child(2) button {
  background-color: #16A085;
  border: none;
  color: whitesmoke;
  padding: 0.5em 1em;
  text-align: center;
  font-size: 1em;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}

td:last-child button.add_button:hover {
  color: white;
  background-color: #128471;
}

td:nth-last-child(2) button.yes {
  background-color: #16A085;
}

td:nth-last-child(2) button.no {
  background-color: tomato;
}

td:nth-last-child(2) button.yes:hover {
  color: white;
  background-color: #128471;
}

td:nth-last-child(2) button.no:hover {
  color: white;
  background-color: rgb(231, 82, 56);
}