:root {
    --main-bar-color: #3AAFA9;
    --accent-color: #2B7A78;
    --text-color: #fff;
    --text-hover: #4F4A41;
    --background: #DEF2F1;
    --drop-down: #2B7A78;
  
  
    --border-rad: 20px;
    --lighter-main-bar-color: #79dfda;
  }
  
  * {
    padding: 0;
    margin: 0;
  }
  
  body{
    background-color: var(--background);
  }
  
  main {
    padding: 1.2em;
    margin: 0px 50px 0px 50px;
  }
  
  .select-box {
    display: flex;
    align-content: center;
    align-items: center;
    padding: 1em 0;
  }
  
  select {
    margin-left: 0.8em;
    cursor: pointer;
    border: none;
  }
  
  .table-admin {
    width: 100%;
    margin: 2px auto;
    table-layout: auto;
    background-color: #ffff;
    border-collapse: collapse;
    border-radius: var(--border-rad) var(--border-rad) 0 0;
    font-size: 1em;
  }
  
  .table-admin tr th,
  .table-admin td {
    padding: 0.5em;
  }
  
  .table-admin thead th:first-child {
    border-radius: var(--border-rad) 0 0 0;
  }
  
  .table-admin thead th:last-child {
    border-radius: 0 var(--border-rad) 0 0;
  }
  
  .table-admin thead{
    background-color: var(--drop-down);
  }
  
  .table-admin tr:nth-child(even){
    background-color: var(--lighter-main-bar-color);
  }
  
  .table-admin td {
    text-align: center;
  }
  
  .tags button {
    border: none;
    color: black;
    padding: 0.3em 0.6em;
    text-align: center;
    font-size: 1em;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: var(--yes-no-border-radius);
    margin: 0 4px;
    background-color: var(--main-bar-color);
  }
  
  .table-admin td:last-child button {
    border: none;
    color: whitesmoke;
    padding: 0.5em 1em;
    text-align: center;
    font-size: 1em;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: var(--yes-no-border-radius);
  }

td:last-child button.add_button {
    background-color: #16A085;
    border: none;
    color: whitesmoke;
    padding: 0.5em 1em;
    text-align: center;
    font-size: 1em;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
  }

 
  
  .select-box{
    font-size: 1.2em;
  }
  
  #rows-per-page{
    padding: 0.2em;
    border-radius: 2px;
  }